html {
    position: relative;
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}

header,
footer {
    background-color: #343a40;
    color: #fff;
}

footer {
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

.navbar-brand,
.nav-link {
    color: #fff;
}

.navbar-nav .nav-item {
    margin-left: 10px;
}

.base-node {
    border: 1px solid red;
    padding: 10px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.node {
    border: 1px solid red;
    /* padding: 10px; */
    margin: 10px;
}

.node-childs {
    /* display: flex;
    flex-wrap: wrap; */
}

.node-input {
    padding: 10px;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.node-input input {
    width: 300px;
}

.buttons {
    display: flex;
    gap: 5px;
}

.card {
    transition: box-shadow 0.3s ease;
}

.input-tree {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
}

#tree {
    margin: 5px;
    width: 50%;
    min-height: 600px;
    max-height: 600px;
}